.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginInput {
  padding: 5px;
  border-radius: 0;
  border: 1px solid;
  margin-bottom: 5px;
}

.loginBtn {
  border: 0;
  padding: 5px;
  color: white;
  cursor: pointer;
  background-color: teal;
}